body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.removeme {
  background: green;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 7px;
  margin: 10px;
}
.hidden {
  /* background-color: transparent;
  color: transparent; */
  visibility: hidden;
}
.color {
  background-color: red !important;
  text-align: center;
}
.reset {
  background: rgb(50, 185, 156);
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 7px;
  margin: 10px;
  width: fit-content;
}
#my-div {
  font-size: 30px;
  line-height: 2;
}
